body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: #00FF00;
  font-family: 'Courier New', Courier, monospace;
}

#globe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#terminal {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
}

h1 {
  margin-bottom: 20px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

form {
  margin-bottom: 20px;
}

input, button {
  background-color: #000000;
  color: #00FF00;
  border: 1px solid #00FF00;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background-color: #00FF00;
  color: #000000;
  cursor: pointer;
}

/* Download Certificate (PDF) butonu özel stili */
#downloadBtn {
  margin-top: 10px;
  background-color: #000000;
  color: #00FF00;
  border: 1px solid #00FF00;
  padding: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

#downloadBtn:hover {
  background-color: #00FF00;
  color: #000000;
}
